@{
    Layout = "_SharedLayOut";
}
<main>
    <!-- START OF SECTION ONE -->
    <section class="sec1-look">
        <div class="parent">
            <h1 class="h1-look">Lookbook</h1>
            <div class="img-sec">
                <img src="~/Images/lookbook-sec1.jpg" alt="this is photo">
            </div>

            <div class="bottom-sec d-flex">
                <h2>Fall/Winter 2021</h2>
                <div class="text">
                    <p class="p1">
                        Elementum donec leo vulputate sit proin suspendisse malesuada neque proin gravida
                        ut platea vitae duis hac hac vel id ipsum ultricies ut faucibus ultrices.
                    </p>
                    <div>
                        <p class="p2"><a href="#">SHOP NOW</a></p>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- END OF SECTION ONE -->
    <!-- --------------------------- -->
    <!-- START OF SECTION TWO -->

    <section class="sec2 ">
        <div class="parent2 ">
            <div class="img-sec">
                <img src="~/Images/img2-sec2.jpg" alt="this is photo">
            </div>

            <div class="bottom-sec d-flex">
                <h2>Spring/Summer 2021</h2>
                <div class="text">
                    <p class="p1">
                        Elementum donec leo vulputate sit proin suspendisse malesuada neque proin gravida
                        ut platea vitae duis hac hac vel id ipsum ultricies ut faucibus ultrices.
                    </p>
                    <div>
                        <p class="p2"><a href="#">SHOP NOW</a></p>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- END OF SECTION TWO -->
    <!-- --------------------------- -->
    <!-- START OF SECTION THREE -->

    <section class="sec3-look">
        <div class="parent2 ">
            <div class="img-sec-look">
                <img src="~/Images/img3-sec3.jpg" alt="this is photo">
            </div>

            <div class="bottom-sec d-flex">
                <h2>Adventurer Gear</h2>
                <div class="text">
                    <p class="p1">
                        Elementum donec leo vulputate sit proin suspendisse malesuada neque proin gravida
                        ut platea vitae duis hac hac vel id ipsum ultricies ut faucibus ultrices.
                    </p>
                    <div>
                        <p class="p2"><a href="#">SHOP NOW</a></p>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- LAST SECTION -->
    <section class="last-sec ">
        <div class="last-parent  d-flex justify-content-center align-items-center">
            <div class="text-last-sec ">
                <h2>Better for People & the Planet</h2>
                <p>Ut eget at et aliquam sit quis nisl, pharetra et ac pharetra est dictum in vulputate</p>
                <div class="d-flex justify-content-center btns-last-sec">
                    <a href="#">
                        <div class="btn-last-sec">
                            MEN SHOP
                        </div>
                    </a>
                    <a href="#">
                        <div class="btn-last-sec">
                            WOMEN SHOP
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
</main>        