@{
    Layout ="_SharedLayOut";
}
<main>
    <section class="sec1-our container">
        <div>
            <div class="text-sec1 text-center">
                <h1>Our Story</h1>
                <p>
                    Taking a stylish and sustainable footwear with a focus on creating a positive impact on both the
                    world and the people
                </p>
            </div>

            <div class="video-sec1">
                <iframe width="100%" height="600"
                        src="https://www.youtube.com/embed/XHOmBV4js_E?si=6mY5KYTHCl685KRE" title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
            </div>
        </div>
    </section>

    <section class="sec2-our pb-3" style="height: 310%;
    width: 80%;
    margin: auto; ">
        <div class="parent2">
            <div class="cards-sec5 row mt-5">
                <div class="col-4 card-our">
                    <div class="icon-sec2">
                        <i class="fa-solid fa-hands-holding"></i>
                    </div>
                    <div class="text-card-sec2">
                        <h3>Ethics and equality</h3>
                        <p>
                            Pellentesque quam convallis massa enim, faucibus ornare sollicitudin gravida justo sit
                            suspendisse pellentesque.
                        </p>
                    </div>

                </div>
                <div class="col-4 card-our">
                    <div class="icon-sec2">
                        <i class="fa-solid fa-leaf"></i>
                    </div>
                    <div class="text-card-sec2">
                        <h3>Eco-design</h3>
                        <p>
                            Risus leo molestie a aliquam amet urna orci nisl dignissim elementum nibh felis ultrices
                            vitae consectetur.
                        </p>
                    </div>

                </div>
                <div class="col-4 col3 card-our">
                    <div class="icon-sec2">
                        <i class="fa-solid fa-cat"></i>
                    </div>
                    <div class="text-card-sec2">
                        <h3>Wildlife Preservation</h3>
                        <p>
                            Pellentesque nunc ante augue adipiscing sed suspendisse amet sed pellentesque convallis
                            erat nibh vivamus.
                        </p>
                    </div>

                </div>
            </div>

        </div>
    </section>

    <section class="sec3our container">
        <div class="parent3-our container">
            <div class="difi-flex-sec3">
                <div class="difi-sec3 d-flex">
                    <h3>Mission</h3>
                    <p>
                        Pulvinar sed nunc ultrices consequat adipiscing sagittis feugiat at dui, arcu nec id non
                        pellentesque dolor feugiat dolor ac ac sem semper nulla dis vitae, quis elit odio nunc
                        dignissim aliquam ipsum.
                        Mattis pretium nec tellus viverra phasellus sed tortor ac tincidunt adipiscing nibh eget,
                        adipiscing sit penatibus lobortis placerat
                    </p>
                </div>
            </div>

            <div class="difi-flex-sec3">
                <div class="difi-sec3 d-flex">
                    <h3>Vision</h3>
                    <p>
                        Sit etiam est, nunc sollicitudin malesuada tincidunt senectus venenatis, adipiscing nulla vel
                        diam, lorem donec sit blandit nec tortor, diam cras ut velit nulla purus ullamcorper ornare
                        elit bibendum augue.
                    </p>
                </div>
            </div>

        </div>
    </section>


    <section class="sec4-our container">
        <div class="parent4-our ">
            <div class="text-sec4">
                <h2>See how your shoes are made</h2>
                <p>
                    Urna, felis enim orci accumsan urna blandit egestas mattis egestas feugiat viverra ornare donec
                    adipiscing semper aliquet integer risus leo volutpat nulla enim ultrices
                </p>
            </div>

            <div class="bottom-sec4 d-flex container">
                <div class="cards-bottom-sec4">
                    <div>
                        <div class="card-bottom-sec4">
                            <h3>Pet canvas</h3>
                            <p>Morbi eget bibendum sit adipiscing morbi ac nisl vitae maecenas nulla cursus</p>
                        </div>
                        <div class="card-bottom-sec4 card2-bottom-sec4">
                            <h3>Algae foam + vegan glue</h3>
                            <p>Enim tincidunt donec vulputate magna pharetra mattis in</p>
                        </div>
                    </div>
                </div>
                <div class="img-bottom-sec4">
                    <div>
                        <img src="~/Images/img-sec4.png" alt="">
                    </div>
                </div>
                <div class="cards-bottom-sec4">
                    <div>
                        <div class="card-bottom-sec4 card3-bottom-sec4">
                            <h3>Organic cotton</h3>
                            <p>A vel ipsum, sed dignissim elementum ultrices amet</p>
                        </div>
                        <div class="card-bottom-sec4 card4-bottom-sec4">
                            <h3>Upcycled plastic bottles</h3>
                            <p>Pellentesque viverra amet netus facilisis amet felis odio tortor orci cursus est</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>


    <section class="sec5-our container">
        <div class="d-flex">
            <div class="left-sec5 ">
                <p>
                    Eu eget felis erat mauris aliquam mattis lacus, arcu leo aliquam sapien pulvinar laoreet
                    vulputate sem aliquet phasellus egestas felis, est, vulputate morbi massa mauris vestibulum dui
                    odio.
                </p>
                <div class="d-flex logos-sec5">
                    <div class="logo-sec5"><img src="~/Images/logo1.svg" alt=""></div>
                    <div class="logo-sec5"> <img src="~/Images/logo2.svg" alt=""></div>
                    <div class="logo-sec5"> <img src="~/Images/logo3.svg" alt=""></div>
                </div>
            </div>
        </div>
    </section>


    <section class="last-sec">
        <div class="last-parent d-flex justify-content-center align-items-center">
            <div class="text-last-sec ">
                <h2>Better for People & the Planet</h2>
                <p>Ut eget at et aliquam sit quis nisl, pharetra et ac pharetra est dictum in vulputate</p>
                <div class="d-flex justify-content-center btns-last-sec">
                    <a href="#">
                        <div class="btn-last-sec">
                            MEN SHOP
                        </div>
                    </a>
                    <a href="#">
                        <div class="btn-last-sec">
                            WOMEN SHOP
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
</main>